p {
    font: 1.1em Arial, sans-serif;
    color:#333;
    margin-bottom:1em;   
}
/* Switch Styles */
.toggle {
    background:url("../images/checkbox.png") bottom left;
    display:block;
    width:20px;
    height:18px;
}
.toggle.checked {
    background-position: left top;
}
.toggleR {
    background:url("../images/radio.png") bottom left;
    display:block;
    width:20px;
    height:18px;
}
.toggleR.checked {
    background-position: left top;
}