p {
    font: 1.1em Arial, sans-serif;
    color:#333;
    margin-bottom:1em;   
}
.radioButtonDemo ul {
    list-style: none;
}
.radioButtonDemo li {
    overflow: hidden;
}
.radioButtonDemo input, 
.radioButtonDemo label, 
.radioButtonDemo .toggle {
    float: left;
    margin-right: 5px;
}
.checkboxDemo ul {
    list-style: none;
}
.checkboxDemo li {
    overflow: hidden;
}
.checkboxDemo input, 
.checkboxDemo label, 
.checkboxDemo .toggle {
    float: left;
    margin-right: 5px;
}

/* Switch Styles */
.toggle {
    background:url("../images/checkbox.png") bottom left;
    display:block;
    width:20px;
    height:18px;
}
.toggle.checked {
    background-position: left top;
}
.toggleR {
    background:url("../images/radio.png") bottom left;
    display:block;
    width:20px;
    height:18px;
}
.toggleR.checked {
    background-position: left top;
}